%div.col-md-12
  %div.group
    %span
      - if is_current_user_belongs_to?(@group)
        %label.label.label-success 群組成員
        - if current_user != @group.user
          = link_to "Quit Group", quit_group_path(@group), method: :post, class: "btn btn-default"
        = link_to "Write a Post", new_group_post_path(@group), class: "btn btn-default pull-right"
      - else
        %label.label.label-warning 不是群組成員
        = link_to "Join Group", join_group_path(@group), method: :post, class: "btn btn-default"

    - if is_current_owner_logged_in?(@group)
      = link_to "Edit", edit_group_path(@group), class: "btn btn-primary pull-right"
  %h2
    = @group.title
  %p
    = @group.description
  %table.table
    %thead
      %tr
        %th 文章內容
        %th 發表者
        %th 發表時間
    %tbody
      - @posts.each do |post|
        %tr
          %td
            = simple_format(post.content)
          %td
            = post.user.email
          %td
            = post.created_at
          %td
            - if is_current_owner_logged_in?(post)
              = link_to "Edit", edit_group_post_path(@group, post), :class => "btn btn-sm btn-default"
              = link_to "Delete", group_post_path(@group, post), class: "btn btn-sm btn-default", method: :delete, data: { confirm: "Are you sure?" }
  %div.text-center
    = will_paginate @posts