%div.col-md-12
  %div.group
    = link_to "Write a Post", new_group_post_path(@group), class: "btn btn-default pull-right"
    - if is_current_owner_logged_in(@group)
      = link_to "Edit", edit_group_path(@group), class: "btn btn-primary pull-right"
  %h2
    = @group.title
  %p
    = @group.description
  %table.table
    %thead
      %tr
        %th 文章內容
        %th 發表者
        %th 發表時間
    %tbody
      - @posts.each do |post|
        %tr
          %td
            = post.content
          %td
            = post.user.email
          %td
            = post.created_at